body {
    font-family: Comic Sans MS; /* Cambia el tipo de letra del cuerpo */

}

h1 {
    color: white; /* Cambia el color del texto del encabezado */
    font-size: 90px; /* Cambia el tamaño de la fuente del encabezado */
    border: 2px solid white; /* Define el borde del recuadro */
    border-radius: 20px; /* Hace que los bordes del recuadro sean redondeados */
    padding: 10px; /* Añade espacio alrededor del texto dentro del recuadro */
    width: fit-content; /* Ajusta el ancho del recuadro al contenido */
    margin: auto; /* Centra el recuadro */
    background-color: rgba(0, 0, 0, 0.5); /* Cambia el color de fondo del recuadro a negro */
}

#resultado {

    color: white; /* Cambia el color del texto del encabezado */
    font-size: 50px; /* Cambia el tamaño de la fuente del encabezado */
    border: 2px solid white; /* Define el borde del recuadro */
    border-radius: 20px; /* Hace que los bordes del recuadro sean redondeados */
    padding: 10px; /* Añade espacio alrededor del texto dentro del recuadro */
    margin: auto; /* Centra el recuadro */
    width: fit-content; /* Ajusta el ancho del recuadro al contenido */
    background-color: rgba(0, 0, 0, 0.5); /* Cambia el color de fondo del recuadro a negro */
    
}

#eleccion_usuario {
    color: white; /* Cambia el color del texto del encabezado */
    font-size: 50px; /* Cambia el tamaño de la fuente del encabezado */
    border: 2px solid white; /* Define el borde del recuadro */
    border-radius: 20px; /* Hace que los bordes del recuadro sean redondeados */
    padding: 10px; /* Añade espacio alrededor del texto dentro del recuadro */
    width: fit-content; /* Ajusta el ancho del recuadro al contenido */
    margin: auto; /* Centra el recuadro */
    background-color: rgba(0, 0, 0, 0.5); /* Cambia el color de fondo del recuadro a negro */
}

#eleccion_computadora {
    color: white; /* Cambia el color del texto del encabezado */
    font-size: 50px; /* Cambia el tamaño de la fuente del encabezado */
    border: 2px solid white; /* Define el borde del recuadro */
    border-radius: 20px; /* Hace que los bordes del recuadro sean redondeados */
    padding: 10px; /* Añade espacio alrededor del texto dentro del recuadro */
    width: fit-content; /* Ajusta el ancho del recuadro al contenido */
    margin: auto; /* Centra el recuadro */
    background-color: rgba(0, 0, 0, 0.5); /* Cambia el color de fondo del recuadro a negro */
}

.Jugar {
    color: white; /* Cambia esto a tu color preferido */
    text-decoration: none; /* Esto elimina el subrayado */
    border: 2px solid white; /* Define el borde del recuadro */
    background-color: rgba(0, 0, 0, 0.5); /* Cambia el color de fondo del recuadro a negro */
    width: fit-content; /* Ajusta el ancho del recuadro al contenido */
    border-radius: 20px; /* Hace que los bordes del recuadro sean redondeados */
    padding: 10px; /* Añade espacio alrededor del contenido */
}

.Jugar:hover {
    color: lightgray; /* Cambia esto a tu color preferido */
}

.Volver {
    color: white; /* Cambia esto a tu color preferido */
    text-decoration: none; /* Esto elimina el subrayado */
    border: 2px solid white; /* Define el borde del recuadro */
    background-color: rgba(0, 0, 0, 0.5); /* Cambia el color de fondo del recuadro a negro */
    width: fit-content; /* Ajusta el ancho del recuadro al contenido */
    border-radius: 20px; /* Hace que los bordes del recuadro sean redondeados */
    padding: 10px; /* Añade espacio alrededor del contenido */
}


.Volver:hover {
    color: lightgray; /* Cambia esto a tu color preferido */
}
