<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Resultado de Piedra, papel o tijeras</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='EstiloResultado.css') }}">
    </head>
    <body style="background-image: url({{ url_for('static', filename='fondo_piedra.jpg') }}); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
        <h1>Resultado</h1>
        <br>
        <br>
        <br>
        <p id="resultado">El resultado del juego es: {{ resultado }}</p>
        <br>
        <p id="eleccion_usuario">Tu elección: {{ eleccion_usuario }}</p>
        <br>
        <p id="eleccion_computadora">Elección de la computadora: {{ eleccion_computadora }}</p>
        <br>
        <a href="/piedra_papel_tijeras" class="Jugar">Jugar otra vez</a>
        <br>
        <br>
        <br>
        <a href="/" class="Volver">Volver a la página principal</a>

    </body>
</html>



